*{
    margin: 0;
    padding: 0;
}
.header h1{
    margin-left: 20px;
}

.header{
    background-color: #0A490A;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 10px;
    align-items: center;
}
.header ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 22px;
    

}
.header img{
    height: 70;
    width: 400px;
}
.icon i {
    font-size: 25px;
}
.icon{
    margin-right: 80px;
    gap: 40px;
    display: flex;
}
.nav{
    background-color:#FFC107 ;
    display: flex;
}
.nav1{
    margin-top: 80px;
    margin-left: 50px;
}
.nav1 h1{
    color: #0A490A;
    font-size: 90px;
    margin-top: 7px;
}
.nav1 p{
    color: #0A490A;
    font-size: 20px;
    margin-bottom: 10px;
}
.button1{
    background-color: #B4C8B1;
    color: #0A490A;
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    font-size: 20px;

    
}
.nav2{
    background-image:url(image/Star\ 1\ \(2\).png) ;
    background-repeat: no-repeat;
    height: 80px;
    width: 250px;
    padding-left: 10px;
    color: white;
    background-size: 100% 80px;
    margin-top: 70px;
    font-size: 15px;
    padding-top: 20px;


}
.nav3{
    margin-top: 50px;
}
#bt1{
    background-color:orange ;
    height: 40px;
    color: #021f02;
}
.body h1{
    font-size: 50px;
    color: #0A490A;
}

.body{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}
.main_parent{
    display: flex;
}
.main{
    display: flex;
    margin-left: 150px;
    gap: 30px;
    margin-top: 10px;
}
.mainone{
    display: flex;
}
.main1{
    border: 2px solid #0A490A;
    height: 500px;
    width: 280px;
    margin-left: 20px;
    border-radius: 5px;
    
}
.main1 p{
    color: #0A490A;
    margin-left: 20px;
}
.main1 h1{
    color: #0A490A;
    margin-left: 20px;
}
.main1 i{
    color: #FFC107;
    margin-left: 15px;
}
.text{
    display: flex;
    gap: 10px;
}
#img2{
    height: 240px;
    margin-top: 0px;

}
.btn{
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.img1{
    margin-top: 5px;
    margin-left: 240px;
}
#img3{
    height: 240px;
    width: 230px;
    margin-left: 20px;
}

#img-p{
    margin-top: 45px;
}
.button3{
    background-color: #FFC107;
    color: #0A490A;
    width: 250px;
    margin-top: 15px;
    height: 35px;
    text-align: center;
    margin-left: 15px;
    border-radius: 5px;
    border: none;
}
.btn1{
    width: 100px;
    height: 25px;
    margin-top: 5px;

}
.btn2{
    width: 100px;
    height: 25px;
    margin-top: 5px;

}
.contain{
    display: flex;
    margin-left: 50px;
    gap: 20px;
}

.contain1{

     
    background-image:url(image/Rectangle\ 35.png) ;
    background-repeat: no-repeat;
    width: 250px;
    height: 260;
    margin-left: 30px;
    color: #0A490A;
    background-size: 100% 260px;
    border-radius: 10px;
    padding-bottom: 160px;
    



}

.contain2{

     
    background-image:url(image/Rectangle\ 36\ \(1\).png) ;
    background-repeat: no-repeat;
    width: 250px;
    height: 260;
    margin-left: 30px;
    color: #0A490A;
    background-size: 100% 260px;
    border-radius: 10px;
    padding-bottom: 160px;
    



}

.contain3{

     
    background-image:url(image/Rectangle\ 37.png) ;
    background-repeat: no-repeat;
    width: 250px;
    height: 260;
    margin-left: 30px;
    color: #0A490A;
    background-size: 100% 260px;
    border-radius: 10px;
    padding-bottom: 160px;
    



}


.contain4{

     
    background-image:url(image/Rectangle\ 38.png) ;
    background-repeat: no-repeat;
    width: 250px;
    height: 260;
    margin-left: 30px;
    color: #0A490A;
    background-size: 100% 260px;
    border-radius: 10px;
    padding-bottom: 160px;
    



}



.text-1 h1{
    margin-bottom: 5px;



}
.text-1 h2 {
    color: white;
}
.banana{

    margin-left: 100px;
    
    width: 150px;
    position: relative;
    height: 90px;
    bottom:30px;
    right: 0;

}


.text-1{
    text-align: left;
    margin-left: 10px;
    
    
}
#btn4{
    background-color: orange;
    width: 150px;
    margin-left: 10px;
    color: white;
    border: 2px solid black ;

}


.bocor img{
    margin-left: 150px;
    
    width: 150px;
    position: relative;
    height: 90px;
    bottom:30px;
    right: 0;
}
.parent{
    display: flex;
    justify-content: space-between;
}

.text-parent{
    display: flex;
    gap: 5px;
    color: #0A490A;
}

.text-p1 {
    border: 2px solid black;
    width: 280px;
    height: 380px;
    margin-right: 50px;

}
.text-p1 p{
    width: 250px;
    margin-left: 5px;
    margin-top: 20px;
}
.text-p1 i{
    color: #FFC107;
    margin-top: 10px;
}
.text-left h1{
    color: #0A490A;
    margin-left: 40px;
    font-size: 35px;


}
.text-left p{
    color: #0A490A;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40px;
}

.text-left button{


    background-color: orange;
    color: white;
    width: 150px;
    margin-top: 15px;
    height: 35px;
    text-align: center;
    margin-left: 40px;
    border-radius: 5px;
    

}
.m1 h3{
    margin-top: 9px;
}
.m1{
    display: flex;
    gap: 15px;
    margin-top: 30px;
}
.m1 img{
    width: 50px;
    height: 50px;
    margin-left: 15px;

}
.section-parent{
    background-color: #0A490A;
    margin-top: 50px;
    padding-top: 50px;
    height: 600px;
   
}

.sec1{
    width: 250px;
    height: 410px;
    background-color: white;
    
    border-radius: 5px;
    
    
}
.sec1 button{
    background-color: orange;
    color: white;
    width: 150px;
    margin-top: 15px;
    height: 35px;
    text-align: center;
    margin-left: 15px;


    border-radius: 5px;
    border: none;

}
.sec-p{
    display: flex;
    margin-left: 200px;
    gap: 50px;
}

.sec1 img{
    width: 250px;
    


}
.sec1 h1{
    color: #0A490A;
    padding-left: 15px;

}
.sec1 p{
    color: #0A490A;
    padding-left: 15px;

}
.text-sec p{
    width: 400px;
    text-align: left;
    margin-left: 500px;
    margin-top: 10px;
}
.text-sec{
    text-align: center;
    color: #0A490A;
    margin-top: 50px;
}

.footer{
    display: flex;
    gap: 40px;
    color: white;
    margin-left: 20px;
    margin-top: 90px;
}
.footer h1{
    color: orange;
    font-weight: bold;
}
#m3{
    height: 170px;
}
   
    

    

   



